Flow1
[{"id":"f95e5d77.dcece","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"34be5ec.bc853a2","type":"rpi-gpio in","z":"f95e5d77.dcece","name":"Button","pin":"11","intype":"up","debounce":"25","read":true,"x":150,"y":220,"wires":[["dbb022e4.7ae49","bee0d9f9.70b1f8"]]},{"id":"f824f62b.feaee8","type":"rpi-gpio out","z":"f95e5d77.dcece","name":"LED","pin":"7","set":true,"level":"0","freq":"","out":"out","x":810,"y":220,"wires":[]},{"id":"dbb022e4.7ae49","type":"switch","z":"f95e5d77.dcece","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":220,"wires":[["40fcb385.de415c"],["f9596089.e8849"]]},{"id":"f9596089.e8849","type":"change","z":"f95e5d77.dcece","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[["f824f62b.feaee8"]]},{"id":"bee0d9f9.70b1f8","type":"debug","z":"f95e5d77.dcece","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":120,"wires":[]},{"id":"40fcb385.de415c","type":"change","z":"f95e5d77.dcece","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":260,"wires":[["f824f62b.feaee8"]]}]
