Flow2
[{"id":"bb35763.e232c88","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"618bbf2f.afa23","type":"inject","z":"bb35763.e232c88","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":40,"wires":[["a8e41941.2099c8"]]},{"id":"a8e41941.2099c8","type":"function","z":"bb35763.e232c88","name":"Payload","func":"msg.headers={\n    deviceKey: \"aFu3RzqFdGWf2AR9\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["72bddfa.f80682","a1a8c878.3ed3d8"]]},{"id":"72bddfa.f80682","type":"http request","z":"bb35763.e232c88","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DULMim49/datachannels/Temperature/datapoints.csv","tls":"","x":430,"y":280,"wires":[["5d4f8b8e.0f6114","70fdc732.0502c8"]]},{"id":"70fdc732.0502c8","type":"http response","z":"bb35763.e232c88","name":"","statusCode":"","headers":{},"x":730,"y":260,"wires":[]},{"id":"5d4f8b8e.0f6114","type":"debug","z":"bb35763.e232c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":380,"wires":[]},{"id":"a1a8c878.3ed3d8","type":"http request","z":"bb35763.e232c88","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DULMim49/datachannels/Humidity/datapoints.csv","tls":"","x":430,"y":380,"wires":[["70fdc732.0502c8","5d4f8b8e.0f6114"]]}]
