Flow3
[{"id":"7b58cfed.5900a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5a621112.9e464","type":"inject","z":"7b58cfed.5900a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["d13f4c93.c2577","78dc50c5.b11d4"]]},{"id":"d13f4c93.c2577","type":"function","z":"7b58cfed.5900a","name":"Payload","func":"msg.headers={\n    deviceKey: \"aFu3RzqFdGWf2AR9\"\n};\nmsg.payload=\"Temperature,,25.3\"\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":140,"wires":[["514b115e.d76e6"]]},{"id":"514b115e.d76e6","type":"http request","z":"7b58cfed.5900a","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DULMim49/datapoints.csv","tls":"","x":390,"y":160,"wires":[["a6aca5.31a4a358","e519f73.93d1b08"]]},{"id":"78dc50c5.b11d4","type":"function","z":"7b58cfed.5900a","name":"Payload","func":"msg.headers={\n    deviceKey: \"aFu3RzqFdGWf2AR9\"\n};\nmsg.payload=\"Humidity,,25.3\"\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":200,"wires":[["514b115e.d76e6"]]},{"id":"a6aca5.31a4a358","type":"http response","z":"7b58cfed.5900a","name":"","statusCode":"","headers":{},"x":500,"y":300,"wires":[]},{"id":"e519f73.93d1b08","type":"debug","z":"7b58cfed.5900a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":420,"wires":[]}]
